{% extends 'SMS/base.html' %} 
{% block content %} 
{# Load the tag library #} 
{% load bootstrap3 %} 
{# Load CSS and JavaScript #} 
{% bootstrap_css %} 
{% bootstrap_javascript %} 
{# Display django.contrib.messages as Bootstrap alerts #} 
{% bootstrap_messages %} 
{% include 'SMS/D8_header.html' %}
 
<div class="container-fluid">  
  <form method="POST"  class="form-inline">    {% csrf_token %}       {% bootstrap_form_errors form type='non_fields' %}  
  
   <div class="row">
    <div class= "col-md-3">
      <h4>
      D1 - Team
      </h4>
    </div>
   </div>
   
   <div class="row">
      <div class="col-md-5">
          Claim uploaded by NMB-member: {{ creator.firstname }} {{ creator.lastname }}, <a href="mailto:{{ creator.email }}?subject=Question to claim No.: {{ claim.pk}}">{{ creator.email }}</a> 
      </div>
   </div>
   <div class = "row">  
      <div class="col-md-5">
      {% if team_members|length == 0 %}
      <p class="h4">Choose pilot:</p>
      {% else %}
      <p class="h4">Choose additional member:</p>
      {% endif %}
      
      {% bootstrap_form form layout="inline" %}     
      {% buttons %}     
      {% bootstrap_button "Save" name="save_D1" button_type="submit" button_class="btn-default" icon="glyphicon glyphicon-floppy-saved" %} 
      {% endbuttons %}     
      </form>
      </div>
    </div>


   <div class = "row">  
      <div class="col-md-12 col-lg-7">
      {% if team_members %}
        <table class="table table-responsive table-hover table-striped">        
          <thead>
              <th>user</th>
              <th>function</th>
              <th>mail</th>
              <th>phone</th>
              <th>pilot</th>
          </thead>
          {% for member in team_members %}    
          <tr>        
              <td>{{ member.member }}</td>                  
              <td>{{ member.member.function }}</td>                  
              <td>{{ member.member.email }}</td>                  
              <td>{{ member.member.phone }}</td>                  
              <td>{{ member.isPilot }}</td>                  
          </tr>
          
          {% endfor %}                        
        </table>
        {% else %}
        <br>
        no Team yet!
        {% endif %}  
      </div>
    </div>
</div>
{% endblock %}