{% extends 'SMS/base.html' %}

{% block content %}
{% load fontawesome %}

{% load staticfiles %}


{% load bootstrap3 %} {# Load the tag library #} 
{% bootstrap_css %} {# Load CSS and JavaScript #} 
{% bootstrap_javascript %} {# Embeds Bootstrap JS #}
{% bootstrap_messages %} {# Display django.contrib.messages as Bootstrap alerts #}
 

{% block extrahead %}   {# Extra Resources Start #}
{% endblock %}          {# Extra Resources End #}

{{ form_due.media }}        {# Form required JS and CSS #}


{% include 'SMS/D8_header.html' %} 

  {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
      


<div class="container-fluid">      
  <div class="row">    
    <div class= "col-md-3">      <h4>      D6 - Implemented corrective measures        </h4>    
    </div>    
    <div class= "col-md-2">    {% if claim.is_past_D6 %}       
      <h5 class="text-danger">      {% else %}       <h5>      {% endif %}       due date: {{ claim.due_date_D6 }}                  </h5>    
    </div>    

{% if user_profile.company.NMB_company == True %}

  <form method="POST" class="form-inline">    
    {% csrf_token %}       
    
      {% bootstrap_form_errors form_due %}       
      {% bootstrap_field form_due.due_date_D3 layout='inline'  form_group_class="hidden" %}
      {% bootstrap_field form_due.due_date_D4 layout='inline'  form_group_class="hidden" %}
      {% bootstrap_field form_due.due_date_D5 layout='inline'  form_group_class="hidden" %}
      {% bootstrap_field form_due.due_date_D6 layout='inline' %}
      {% bootstrap_field form_due.due_date_D8 layout='inline'  form_group_class="hidden" %}
      {% buttons %}
      {% bootstrap_button "New due date D6" name="Button_due_date" button_type="submit" button_class="btn-primary"  icon="glyphicon glyphicon-calendar" %} (00:00 o'clock) 
      {% endbuttons %}
      </form> 
{% endif %}              

  </div>         

  <div class="row">      
    <div class="col-md-5">Claim uploaded by NMB-member: {{ creator.firstname }} {{ creator.lastname }}, 
      <a href="mailto:{{ creator.email }}?subject=Question to claim No.: {{ claim.pk}}">{{ creator.email }}</a>        
    </div>   
  </div>
  <hr />

  <div class="row">
    <div class="col-md-6 text-center bg-success no_padding_right">
    <hr style="width:1px; height:28px; margin:0px;  border-right:1px solid; float:right; border-color:grey;">
      <h4>Occurence</h4>
    </div>

    <div class="col-md-6 text-center bg-info">
      <h4>Detection</h4>
    </div>
  </div>

  <div class="row row-eq-height">
    <div class="col-md-6 bg-success no_padding_right">
    <hr style="width:1px; height:28px; margin:0px;  border-right:1px solid; float:right; border-color:grey;">
    Please plan your corrective actions for occurence here. Don't forget to also have tasks for effectiveness tests.
    <br>
    {% if tasks_D6 %}<h4><strong>
     You have {{ tasks_D6|length }} open tasks in your Task list.  <a target="_blank" href="{% url 'task_tracker' 'due_date' claim 'D6 Occurence' 9999 %}"><span class="glyphicon glyphicon-tasks orange"></span> Open tasks for D6 Occurence <span class="glyphicon glyphicon-tasks orange"></span></a> 
    </strong></h4>
    {% else %}
       <a target="_blank" href="{% url 'task_tracker' 'due_date' claim 'D6 Occurence' 9999 %}"><span class="glyphicon glyphicon-tasks green"></span> Add new task for D6 Occurence <span class="glyphicon glyphicon-tasks green"></span></a>    
    {% endif %}
    <br>
    <br>
    </div>
 
    <div class="col-md-6  bg-info">
    Please plan your corrective actions for non-detection here. Don't forget to also have tasks for effectiveness tests.
    <br>
    {% if tasks_D6_det %}<h4><strong>
     You have {{ tasks_D6_det|length }} open tasks in your Task list.  <a target="_blank" href="{% url 'task_tracker' 'due_date' claim 'D6 Detection' 9999 %}"><span class="glyphicon glyphicon-tasks orange"></span> Open tasks for D6, non-Detection <span class="glyphicon glyphicon-tasks orange"></span></a> 
    </strong></h4>
    {% else %}
       <a target="_blank" href="{% url 'task_tracker' 'due_date' claim 'D6 Detection' 9999 %}"><span class="glyphicon glyphicon-tasks green"></span> Add new task for D6 non-Detection <span class="glyphicon glyphicon-tasks green"></span></a>    
    {% endif %}
    <br>
    <br>
    </div>
  </div>

 
 
      
  <div class="row">
    <br>
    <div class="col-md-5">
    After filling in all relevant data in the forms above you can submit the D4 here.
    <br>
      <form method="POST" class="form-inline">    {% csrf_token %}       
      {% buttons %}
      {% bootstrap_button "Submit D6" name="SubmitD6" button_type="submit" button_class="btn-primary" icon="glyphicon glyphicon-send" %} 
  {% if user_profile.company.NMB_company == True %}
      {% bootstrap_button "Accept D6" name="AcceptD6" button_type="submit" button_class="btn-success" icon="glyphicon glyphicon-ok" %} 
      {% bootstrap_button "Reject D6" name="RejectD6" button_type="submit" button_class="btn-danger" icon="glyphicon glyphicon-minus-sign" %} 
  {% endif %}              
      {% endbuttons %}        
      </form>
    </div>
  </div>
  &nbsp;
</div>  

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
});
</script>

<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover({
     trigger: "hover",
     html: true,
     container: 'body',
     }); 
});
</script>
{% endblock %}