{% extends 'SMS/base.html' %}

{% block content %}
{% load fontawesome %}

{% load staticfiles %}


{% load bootstrap3 %} {# Load the tag library #} 
{% bootstrap_css %} {# Load CSS and JavaScript #} 
{% bootstrap_javascript %} {# Embeds Bootstrap JS #}
{% bootstrap_messages %} {# Display django.contrib.messages as Bootstrap alerts #}
 

{% block extrahead %}   {# Extra Resources Start #}
{% endblock %}          {# Extra Resources End #}

{{ form_due.media }}        {# Form required JS and CSS #}
{{ form.media }}        {# Form required JS and CSS #}


{% include 'SMS/D8_header.html' %} 

  {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
      


<div class="container-fluid">      
  <div class="row">    
    <div class= "col-md-3">      <h4>      D7 - Prevent a repeat of the failure        </h4>    
    </div>    
    <div class= "col-md-2">    {% if claim.is_past_D8 %}       
      <h5 class="text-danger">      {% else %}       <h5>      {% endif %}       due date: {{ claim.due_date_D8 }}                  </h5>    
    </div>    

{% if user_profile.isStaff == True %}

  <form method="POST" class="form-inline">    
    {% csrf_token %}       
    
      {% bootstrap_form_errors form_due %}       
      {% bootstrap_field form_due.due_date_D3 layout='inline'  form_group_class="hidden" %}
      {% bootstrap_field form_due.due_date_D4 layout='inline'  form_group_class="hidden" %}
      {% bootstrap_field form_due.due_date_D5 layout='inline'  form_group_class="hidden" %}
      {% bootstrap_field form_due.due_date_D6 layout='inline'  form_group_class="hidden" %}
      {% bootstrap_field form_due.due_date_D8 layout='inline' %}
      {% buttons %}
      {% bootstrap_button "New due date 8D" name="Button_due_date" button_type="submit" button_class="btn-primary"  icon="glyphicon glyphicon-calendar" %} (00:00 o'clock) 
      {% endbuttons %}
      </form> 
{% endif %}              

  </div>         

  <div class="row">      
    <div class="col-md-5">Claim uploaded by NMB-member: {{ creator.firstname }} {{ creator.lastname }}, 
      <a href="mailto:{{ creator.email }}?subject=Question to claim No.: {{ claim.pk}}">{{ creator.email }}</a>        
    </div>   
  </div>
  <hr />

  <div class="row">
    <div class="col-md-8">
      <form method="POST" class="form-inline">    
    {% csrf_token %}       
      {% bootstrap_form_errors form %}       

       <table class="table table-hover table-condensed">    
        <thead>        
          <th>documentation
          </th>        
          <th>updated
          </th>        
          <th>pilot
          </th>        
          <th>date
          </th>        
          <th>comment
          </th>        
        </thead>    
        <tbody>   
            <tr>
              <td>Design FMEA</td><td>{% bootstrap_field form.DFMEA_done layout='inline' %}</td><td>{% bootstrap_field form.DFMEA_pilot layout='inline' %}</td><td>{% bootstrap_field form.DFMEA_date layout='inline' %}</td><td>{% bootstrap_field form.DFMEA_comment layout='inline' %}</td>
            </tr>       
            <tr>
              <td>Process FMEA</td><td>{% bootstrap_field form.PFMEA_done layout='inline' %}</td><td>{% bootstrap_field form.PFMEA_pilot layout='inline' %}</td><td>{% bootstrap_field form.PFMEA_date layout='inline' %}</td><td>{% bootstrap_field form.PFMEA_comment layout='inline' %}</td>
            </tr>       
            <tr>
              <td>Logistics FMEA</td><td>{% bootstrap_field form.LFMEA_done layout='inline' %}</td><td>{% bootstrap_field form.LFMEA_pilot layout='inline' %}</td><td>{% bootstrap_field form.LFMEA_date layout='inline' %}</td><td>{% bootstrap_field form.LFMEA_comment layout='inline' %}</td>
            </tr>       
            <tr>
              <td>control plan</td><td>{% bootstrap_field form.controlplan_done layout='inline' %}</td><td>{% bootstrap_field form.controlplan_pilot layout='inline' %}</td><td>{% bootstrap_field form.controlplan_date layout='inline' %}</td><td>{% bootstrap_field form.controlplan_comment layout='inline' %}</td>
            </tr>       
            <tr>
              <td>work instructions</td><td>{% bootstrap_field form.WI_done layout='inline' %}</td><td>{% bootstrap_field form.WI_pilot layout='inline' %}</td><td>{% bootstrap_field form.WI_date layout='inline' %}</td><td>{% bootstrap_field form.WI_comment layout='inline' %}</td>
            </tr>       
            <tr>
              <td>maintenance plan</td><td>{% bootstrap_field form.MP_done layout='inline' %}</td><td>{% bootstrap_field form.MP_pilot layout='inline' %}</td><td>{% bootstrap_field form.MP_date layout='inline' %}</td><td>{% bootstrap_field form.MP_comment layout='inline' %}</td>
            </tr>       
            <tr>
              <td>design standard</td><td>{% bootstrap_field form.Dstand_done layout='inline' %}</td><td>{% bootstrap_field form.Dstand_pilot layout='inline' %}</td><td>{% bootstrap_field form.Dstand_date layout='inline' %}</td><td>{% bootstrap_field form.Dstand_comment layout='inline' %}</td>
            </tr>       
            <tr>
              <td>tooling design standard</td><td>{% bootstrap_field form.toolDstand_done layout='inline' %}</td><td>{% bootstrap_field form.toolDstand_pilot layout='inline' %}</td><td>{% bootstrap_field form.toolDstand_date layout='inline' %}</td><td>{% bootstrap_field form.toolDstand_comment layout='inline' %}</td>
            </tr>       
            <tr>
              <td>Lessons Learned Card</td><td>{% bootstrap_field form.LLcard_done layout='inline' %}</td><td>{% bootstrap_field form.LLcard_pilot layout='inline' %}</td><td>{% bootstrap_field form.LLcard_date layout='inline' %}</td><td>{% bootstrap_field form.LLcard_comment layout='inline' %}</td>
            </tr>       
            <tr>
              <td>Gauges standard</td><td>{% bootstrap_field form.Gstand_done layout='inline' %}</td><td>{% bootstrap_field form.Gstand_pilot layout='inline' %}</td><td>{% bootstrap_field form.Gstand_date layout='inline' %}</td><td>{% bootstrap_field form.Gstand_comment layout='inline' %}</td>
            </tr>       
            <tr>
              <td>training standard</td><td>{% bootstrap_field form.Tstand_done layout='inline' %}</td><td>{% bootstrap_field form.Tstand_pilot layout='inline' %}</td><td>{% bootstrap_field form.Tstand_date layout='inline' %}</td><td>{% bootstrap_field form.Tstand_comment layout='inline' %}</td>
            </tr>       
            <tr>
              <td>procedure</td><td>{% bootstrap_field form.procedure_done layout='inline' %}</td><td>{% bootstrap_field form.procedure_pilot layout='inline' %}</td><td>{% bootstrap_field form.procedure_date layout='inline' %}</td><td>{% bootstrap_field form.procedure_comment layout='inline' %}</td>
            </tr>       
            <tr>
              <td>specification</td><td>{% bootstrap_field form.spec_done layout='inline' %}</td><td>{% bootstrap_field form.spec_pilot layout='inline' %}</td><td>{% bootstrap_field form.spec_date layout='inline' %}</td><td>{% bootstrap_field form.spec_comment layout='inline' %}</td>
            </tr>       
            <tr>
              <td>other</td><td>{% bootstrap_field form.other_done layout='inline' %}</td><td>{% bootstrap_field form.other_pilot layout='inline' %}</td><td>{% bootstrap_field form.other_date layout='inline' %}</td><td>{% bootstrap_field form.other_comment layout='inline' %}</td>
            </tr>                               
        </tbody>
      </table>
      {% buttons %}
      {% bootstrap_button "Save" name="SaveD7" button_type="submit" button_class="btn-default" icon="glyphicon glyphicon-floppy-saved" %} 
      {% bootstrap_button "Save & Submit 8D" name="Submit8D" button_type="submit" button_class="btn-primary" icon="glyphicon glyphicon-send" %} 
{% if user_profile.isStaff == True %}
      {% bootstrap_button "Accept D7" name="AcceptD7" button_type="submit" button_class="btn-success" icon="glyphicon glyphicon-ok" %} 
      {% bootstrap_button "Reject D7" name="RejectD7" button_type="submit" button_class="btn-danger" icon="glyphicon glyphicon-minus-sign" %} 
{% endif %}              
      {% endbuttons %}
      </form> 
      
    </div>
  </div>
    <br>


</div>  

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
});
</script>

<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover({
     trigger: "hover",
     html: true,
     container: 'body',
     }); 
});
</script>
{% endblock %}