{% extends 'SMS/base.html' %} 
{% block content %} 

{% load bootstrap3 %} {# Load the tag library #} 
{% bootstrap_css %} {# Load CSS and JavaScript #} 
{% bootstrap_javascript %} {# Embeds Bootstrap JS #}
{% bootstrap_messages %} {# Display django.contrib.messages as Bootstrap alerts #}

  
<div class = "container-fluid">
  <div class="row">  
    <div class="col-md-4">
    <h3>User</h3>
    {% if user_profile.isAdmin == True %}      
      <p>    &nbsp;            
        <a href="{% url 'user_new' company.pk %}"><span class="glyphicon glyphicon-plus green"></span> Add user for 
        {% if company.customer %}customer{% else %}vendor{% endif %}
         {{company.name}} <span class="glyphicon glyphicon-plus green"></span></a>    
      </p>     {% endif %}
      <p>
        <a href="{% url 'user_edit' user_profile.user_id %}"><span class="glyphicon glyphicon-pencil orange"></span> Edit user {{user_profile.user}} <span class="glyphicon glyphicon-pencil orange"></span></a>    
      </p>      
      <table class="table table-hover table-condensed">           
        <tr>        <td><strong>Name:</strong></td>        <td>{{user_profile.lastname}}</td>           
        </tr>           
        <tr>        <td><strong>Firstname:</strong></td>        <td>{{user_profile.firstname}}</td>           
        </tr>           
        <tr>        <td><strong>Mailadress:</strong></td>        <td>{{user_profile.email}}</td>           
        </tr>            
        <tr>        <td><strong>Admin:</strong></td>        <td>{{user_profile.isAdmin}}</td>           
        </tr>
        {% if company.NMB_company == True %}
        <tr>        <td><strong>NMB_Staff:</strong></td>        <td>{{user_profile.isStaff}}</td>           
        </tr>
        {% endif %}    
      </table>
      </div>
      </div>
      <div class="row">
      <div class="col-md-4">
      <h3>Company</h3>    
      <p>    
      </p>{% if user_profile.company.NMB_company == True %}      
      <p>           
        <a href="{% url 'vendor_new' %}"><span class="glyphicon glyphicon-plus green"></span> Add new company <span class="glyphicon glyphicon-plus green"></span></a>    
      </p>     {% endif %} {% if user_profile.isAdmin == True or user_profile.company.NMB_company == True %}      
      <p>           
        <a href="{% url 'vendor_edit' company.pk %}"><span class="glyphicon glyphicon-pencil orange"></span> Edit 
        {% if company.customer %}customer{% else %}vendor{% endif %}
         {{company.name}} <span class="glyphicon glyphicon-pencil orange"></span></a>    
      </p>     {% endif %}      
      </div>
      <div class="col-md-4">
      <h3>Users of 
        {% if company.customer %}customer{% else %}vendor{% endif %}
       {{company.name}}</h3>
      </div>    
      </div>
      <div class="row">
      <div class="col-md-4">
      <div class="col-md-1">
      </div>
      <table class="table table-hover table-condensed">           
        <tr>        <td><strong>Name:</strong></td>        <td>{{company.name}}</td>           
        </tr>           
        <tr>        <td><strong>Customer:</strong></td>        <td>{{company.customer}}</td>           
        </tr>           
        <tr>        <td><strong>NMB-company:</strong></td>        <td>{{company.NMB_company}}</td>           
        </tr>           
        <tr>        <td><strong>DUNS:</strong></td>        <td>{{company.DUNS}}</td>           
        </tr>           
        <tr>        <td><strong>Adress:</strong></td>        <td>{{company.adress1}}</td>           
        </tr>        <td><strong>Adress:</strong></td>        <td>{{company.adress2}}</td>           
        </tr>            
        <tr>        <td><strong>Postcode:</strong></td>        <td>{{company.postcode}}</td>           
        </tr>            
        <tr>        <td><strong>Postal town:</strong></td>        <td>{{company.town}}</td>           
        </tr>            
        <tr>        <td><strong>Country:</strong></td>        <td>{{company.country}}</td>           
        </tr>    
      </table>  
    </div>  
      <div class="col-md-4">
      <table class="table table-hover table-condensed">
      <tr>
      <th><strong>Name</strong></th>
      <th><strong>login</strong> </th>
      <th><strong>active</strong></th>
      </tr>
      {% for user in companyusers %}           
        <tr>      
        <td>{{user.firstname}} {{user.lastname}}</td>
        <td>{{user.user}}</td>           
        <td>{{user.user.is_active}}</td>           
        </tr>
       {% endfor %}           
      </table>  
    </div>  
  </div>
</div>
{% endblock %}