{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/SMS.css' %}">
        <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="{% static 'js/moment.js' %}"></script>
        <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>

        <title>Supplier Management System</title>
    </head>
 <body>

{% load bootstrap3 %} {# Load the tag library #} 
{% bootstrap_css %} {# Load CSS and JavaScript #} 
{% bootstrap_javascript %} {# Embeds Bootstrap JS #}
{% bootstrap_messages %} {# Display django.contrib.messages as Bootstrap alerts #}

{% load fontawesome %}
{% fontawesome_stylesheet %}
 

{% block extrahead %}   {# Extra Resources Start #}
{% endblock %}          {# Extra Resources End #}

{{ form.media }}        {# Form required JS and CSS #}


<div class="bg-img">
  <div class="row">
  <div class="col-md-12">
  <p class="h_2 add_margin"> Tasks of {{ task_data.0 }} {{ task_data.1 }} 
  </p>   
  </div>
  </div>
</div>

<div class="container-fluid">      
  <div class="row">    
    <div class= "col-md-2">      <h5>Add new task:     </h5>    
    </div>
  </div>
  
  <div class="row">    
    <div class= "col-md-12"> 
      <form method="POST" class="form-inline"  {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>    
      {% csrf_token %}       
    
      {% bootstrap_form_errors form %}       
      {% bootstrap_form form layout='inline' %}
      {% buttons %}
       <button type="submit" class="btn btn-success" name="new_task">Add new task</button> 
       {% endbuttons %}
      </form> 
    </div>
  </div>
  
  <hr />
  
  <div class="row">    
    <div class= "col-md-12">
      {% if not tasks %}
      There are no tasks yet.
      {% endif %} 

      {% if tasks %}

      <table class="table table-condensed table-hover">
        <thead>
          <th>Nb.
          </th>
          <th>importance
             <a href="{% url 'task_tracker' 'importance' tasks.0.project tasks.0.subproject 9999 %}"><span class="glyphicon glyphicon-menu-down"></span></a>
             <a href="{% url 'task_tracker' '-importance' tasks.0.project tasks.0.subproject 9999 %}"><span class="glyphicon glyphicon-menu-up"></span></a>
          </th>        
          <th>status
             <a href="{% url 'task_tracker' 'status' tasks.0.project tasks.0.subproject 9999 %}"><span class="glyphicon glyphicon-menu-down"></span></a>
             <a href="{% url 'task_tracker' '-status' tasks.0.project tasks.0.subproject 9999 %}"><span class="glyphicon glyphicon-menu-up"></span></a>
          </th>        
          <th>action
             <a href="{% url 'task_tracker' 'action' tasks.0.project tasks.0.subproject 9999 %}"><span class="glyphicon glyphicon-menu-down"></span></a>
             <a href="{% url 'task_tracker' '-action' tasks.0.project tasks.0.subproject 9999 %}"><span class="glyphicon glyphicon-menu-up"></span></a>
          </th>        
          <th>task
          </th>        
          <th>pilot
             <a href="{% url 'task_tracker' 'pilot' tasks.0.project tasks.0.subproject 9999 %}"><span class="glyphicon glyphicon-menu-down"></span></a>
             <a href="{% url 'task_tracker' '-pilot' tasks.0.project tasks.0.subproject 9999 %}"><span class="glyphicon glyphicon-menu-up"></span></a>
          </th>        
          <th>issued
             <a href="{% url 'task_tracker' 'date_issued' tasks.0.project tasks.0.subproject 9999 %}"><span class="glyphicon glyphicon-menu-down"></span></a>
             <a href="{% url 'task_tracker' '-date_issued' tasks.0.project tasks.0.subproject 9999 %}"><span class="glyphicon glyphicon-menu-up"></span></a>
          </th>        
          <th>orig. due date
             <a href="{% url 'task_tracker' 'original_due_date' tasks.0.project tasks.0.subproject 9999 %}"><span class="glyphicon glyphicon-menu-down"></span></a>
             <a href="{% url 'task_tracker' '-original_due_date' tasks.0.project tasks.0.subproject 9999 %}"><span class="glyphicon glyphicon-menu-up"></span></a>
          </th>        
          <th>due date
             <a href="{% url 'task_tracker' 'due_date' tasks.0.project tasks.0.subproject 9999 %}"><span class="glyphicon glyphicon-menu-down"></span></a>
             <a href="{% url 'task_tracker' '-due_date' tasks.0.project tasks.0.subproject 9999 %}"><span class="glyphicon glyphicon-menu-up"></span></a>
          </th>        
          <th>timely status
          </th>        
          <th>last comment
          </th>        
          <th>edit</th>
          <th>close
          </th>        
          
        </thead>
        <tbody>    
        {% for task in tasks %}   
            {% if task.pk == task_data.2 %}
            <tr class="active">
            {% else %}
            <tr>
            {% endif %}           
              <td>{{ task.pk }}
              </td>
              <td>
                  {% if 'LOW' in task.importance %}
                  <button type="button" class="btn btn-success btn-xs">low</button> 
                  {% endif %}

                  {% if 'HIGH' in task.importance %}
                  <button type="button" class="btn btn-danger btn-xs">high</button> 
                  {% endif %}
                  
                  {% if 'MID' in task.importance %}
                  <button type="button" class="btn btn-info btn-xs">mid</button> 
                  {% endif %}
              </td>
              <td>{{ task.status }}</td>        
              <td>{{ task.action }}</td>        
              <td>{{ task.task|truncatechars:30  }}</td>        
              <td>{{ task.pilot }}</td>        
              <td>{{ task.date_issued }}</td>        
              <td>{{ task.original_due_date }}</td>        
              <td>{{ task.due_date }}</td>        
              <td>
                  {% if 'Overdue' in task.timely_status %}
                  <button type="button" class="btn btn-danger btn-xs">overdue</button> 
                  {% endif %}

                  {% if 'In time' in task.timely_status %}
                  <button type="button" class="btn btn-success btn-xs">in time</button> 
                  {% endif %}
              </td>        
              <td>{{ task.task_comment|truncatechars:30 }}</td>        
              <td>
                  <a href="{% url 'task_details' task_data.3 task.project task.subproject task.pk %}"><span class="glyphicon glyphicon-pencil orange"></span></a>
              </td>
              <td>
                  <form class="form-inline" method="POST" action="{{ task.pk }}" >
                  {% csrf_token %}       
   
                  <button type="submit" name="task_done" class="btn btn-warning btn-xs">close</button>
                  </form> 
              </td>        
            </tr>    
        {% endfor %}     
        </tbody>
      
      </table>

      {% endif %} 







      {% if tasks_done %}

      <table class="table table-condensed table-hover">
        <thead>
          <th>Nb.
          </th>
          <th>importance
          </th>        
          <th>status
          </th>        
          <th>action
          </th>        
          <th>task
          </th>        
          <th>pilot
          </th>        
          <th>issued
          </th>        
          <th>closed
          </th>        
          <th>last comment
          </th>        
          <th>
          </th>         
          
        </thead>
        <tbody>
        {% for task in tasks_done %}   
            <tr>
              <td>{{ task.pk }}
              </td>
              <td>
                  {% if 'LOW' in task.importance %}
                  <button type="button" class="btn btn-success btn-xs">low</button> 
                  {% endif %}

                  {% if 'HIGH' in task.importance %}
                  <button type="button" class="btn btn-danger btn-xs">high</button> 
                  {% endif %}
                  
                  {% if 'MID' in task.importance %}
                  <button type="button" class="btn btn-info btn-xs">mid</button> 
                  {% endif %}
              </td>
              <td><del>{{ task.status }}</del></td>        
              <td><del>{{ task.action }}</del></td>        
              <td><del>{{ task.task|truncatechars:30 }}</del></td>        
              <td><del>{{ task.pilot }}</del></td>        
              <td><del>{{ task.date_issued }}</del></td>        
              <td><del>{{ task.closed_date }}</del></td>        
              <td><del>{{ task.task_comment|truncatechars:30 }}</del></td>        
              <td>        
                  <form action="{{ task.pk }}" method="POST" class="form-inline">
                  {% csrf_token %}       
                  <a href="{% url 'task_details' task_data.3 task.project task.subproject task.pk %}"><span class="glyphicon glyphicon-pencil orange"></span></a>
                  &nbsp;
                  <button type="submit" class="btn btn-warning btn-xs" name= "reopen">reopen</button>
                  </form> 
              </td>        
            </tr>    
        {% endfor %}
        </tbody>
      
      </table>

      {% endif %} 


    </div>




  </body>
</html>    
